In [1]:
# Python, Numpy, OS libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio
pio.templates.default = 'plotly_dark'
from plotly.subplots import make_subplots

In [2]:
train = pd.read_csv('dataset_37_diabetes.csv')

In [3]:
train.head()

   preg  plas  pres  skin  insu  mass   pedi  age            class
0     6   148    72    35     0  33.6  0.627   50  tested_positive
1     1    85    66    29     0  26.6  0.351   31  tested_negative
2     8   183    64     0     0  23.3  0.672   32  tested_positive
3     1    89    66    23    94  28.1  0.167   21  tested_negative
4     0   137    40    35   168  43.1  2.288   33  tested_positive

In [4]:
# Information about the columns and diabetes in general to understand about diabetes and the tests done to check for type1 and type2 diabetes
# Type 1 diabetes is often diagnosed more rapidly because it usually develops rapidly and involves high blood sugar levels and symptoms
# Type 2 diabetes develops often in over the course of years. Most common diabetes and usually develops during adulthood
# Diabetes can cause pregnancy complications and is usually recommended to test withtin 24~28 weeks of pregnancy.


# preg = Number of times pregnant
# plas = Plasma glucose concentration in a 2 hours in an oral glucose test
    # This measures how much the body is able to absorb the gluose(sugar). This is usually done to test diabetes during pregnency
# pres = Diastolic blood pressure(mm Hg) - this cannot be 0 because no one has 0 blood pressure when they are alive. 
# skin = Triceps skin folding thickness(mm)
# insu = 2 Hour serum insulin(mu U/ml) // Test is used to find out the levels of insulin in blood, Basically whether the patient is making enough insulin or not 
# mass = body mass index(weight in kgs) - BMI, it is considered overweight when BMI is greater than 25
# pedi = Diabetes pedigree function
# age = Age of patient
# class = Target(whether patient has diabetes or not)

In [5]:
train.describe()

,preg,plas,pres,skin,insu,mass,pedi,age
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
preg     768 non-null int64
plas     768 non-null int64
pres     768 non-null int64
skin     768 non-null int64
insu     768 non-null int64
mass     768 non-null float64
pedi     768 non-null float64
age      768 non-null int64
class    768 non-null object
dtypes: float64(2), int64(6), object(1)
memory usage: 54.1+ KB

In [7]:
train.isnull().sum(), train.isna().sum()

(preg     0
 plas     0
 pres     0
 skin     0
 insu     0
 mass     0
 pedi     0
 age      0
 class    0
 dtype: int64, preg     0
 plas     0
 pres     0
 skin     0
 insu     0
 mass     0
 pedi     0
 age      0
 class    0
 dtype: int64)

In [8]:
zeros = (train==0).astype(int).sum(axis=0)
zeros

preg     111
plas       5
pres      35
skin     227
insu     374
mass      11
pedi       0
age        0
class      0
dtype: int64

In [9]:
cols = ['mass', 'pres', 'plas']
train[cols] = train[cols].replace({0: np.nan})

In [10]:
zeros = (train==0).astype(int).sum(axis=0)
zeros

preg     111
plas       0
pres       0
skin     227
insu     374
mass       0
pedi       0
age        0
class      0
dtype: int64

In [11]:
train.isna().sum()

preg      0
plas      5
pres     35
skin      0
insu      0
mass     11
pedi      0
age       0
class     0
dtype: int64

In [12]:
train.head()

   preg   plas  pres  skin  insu  mass   pedi  age            class
0     6  148.0  72.0    35     0  33.6  0.627   50  tested_positive
1     1   85.0  66.0    29     0  26.6  0.351   31  tested_negative
2     8  183.0  64.0     0     0  23.3  0.672   32  tested_positive
3     1   89.0  66.0    23    94  28.1  0.167   21  tested_negative
4     0  137.0  40.0    35   168  43.1  2.288   33  tested_positive

In [13]:
onezero = train[train['pres'].isna()]
onezero

     preg   plas  pres  skin  insu  mass   pedi  age            class
7      10  115.0   NaN     0     0  35.3  0.134   29  tested_negative
15      7  100.0   NaN     0     0  30.0  0.484   32  tested_positive
49      7  105.0   NaN     0     0   NaN  0.305   24  tested_negative
60      2   84.0   NaN     0     0   NaN  0.304   21  tested_negative
78      0  131.0   NaN     0     0  43.2  0.270   26  tested_positive
81      2   74.0   NaN     0     0   NaN  0.102   22  tested_negative
172     2   87.0   NaN    23     0  28.9  0.773   25  tested_negative
193    11  135.0   NaN     0     0  52.3  0.578   40  tested_positive
222     7  119.0   NaN     0     0  25.2  0.209   37  tested_negative
261     3  141.0   NaN     0     0  30.0  0.761   27  tested_positive
266     0  138.0   NaN     0     0  36.3  0.933   25  tested_positive
269     2  146.0   NaN     0     0  27.5  0.240   28  tested_positive
300     0  167.0   NaN     0     0  32.3  0.839   30  tested_positive
332     1  180.0   NaN     0     0  43.3  0.282   41  tested_positive
336     0  117.0   NaN     0     0  33.8  0.932   44  tested_negative
347     3  116.0   NaN     0     0  23.5  0.187   23  tested_negative
357    13  129.0   NaN    30     0  39.9  0.569   44  tested_positive
426     0   94.0   NaN     0     0   NaN  0.256   25  tested_negative
430     2   99.0   NaN     0     0  22.2  0.108   23  tested_negative
435     0  141.0   NaN     0     0  42.4  0.205   29  tested_positive
453     2  119.0   NaN     0     0  19.6  0.832   72  tested_negative
468     8  120.0   NaN     0     0  30.0  0.183   38  tested_positive
484     0  145.0   NaN     0     0  44.2  0.630   31  tested_positive
494     3   80.0   NaN     0     0   NaN  0.174   22  tested_negative
522     6  114.0   NaN     0     0   NaN  0.189   26  tested_negative
533     6   91.0   NaN     0     0  29.8  0.501   31  tested_negative
535     4  132.0   NaN     0     0  32.9  0.302   23  tested_positive
589     0   73.0   NaN     0     0  21.1  0.342   25  tested_negative
601     6   96.0   NaN     0     0  23.7  0.190   28  tested_negative
604     4  183.0   NaN     0     0  28.4  0.212   36  tested_positive
619     0  119.0   NaN     0     0  32.4  0.141   24  tested_positive
643     4   90.0   NaN     0     0  28.0  0.610   31  tested_negative
697     0   99.0   NaN     0     0  25.0  0.253   22  tested_negative
703     2  129.0   NaN     0     0  38.5  0.304   41  tested_negative
706    10  115.0   NaN     0     0   NaN  0.261   30  tested_positive

In [19]:
train['mass'].fillna(train.groupby('age')['mass'].transform('mean'), inplace=True)
train['pres'].fillna(train.groupby(['age'])['pres'].transform('mean'), inplace=True)
train['plas'].fillna(train.groupby(['age'])['plas'].transform('mean'), inplace=True)

In [20]:
train.isna().sum()

preg     0
plas     0
pres     1
skin     0
insu     0
mass     0
pedi     0
age      0
class    0
dtype: int64

In [21]:
train.isnull().sum()

preg     0
plas     0
pres     1
skin     0
insu     0
mass     0
pedi     0
age      0
class    0
dtype: int64

In [22]:
train.head()

   preg   plas  pres  skin  insu  mass   pedi  age            class
0     6  148.0  72.0    35     0  33.6  0.627   50  tested_positive
1     1   85.0  66.0    29     0  26.6  0.351   31  tested_negative
2     8  183.0  64.0     0     0  23.3  0.672   32  tested_positive
3     1   89.0  66.0    23    94  28.1  0.167   21  tested_negative
4     0  137.0  40.0    35   168  43.1  2.288   33  tested_positive

In [23]:
onezero = train[train['pres'].isna()]
onezero

     preg   plas  pres  skin  insu  mass   pedi  age            class
453     2  119.0   NaN     0     0  19.6  0.832   72  tested_negative

In [24]:
train['pres'].fillna(train.groupby(['mass'])['pres'].transform('mean'), inplace=True)

In [25]:
train.isnull().sum()

preg     0
plas     0
pres     0
skin     0
insu     0
mass     0
pedi     0
age      0
class    0
dtype: int64